/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$title_font: 'Playfair Display', serif;
$main_font: 'Quicksand', sans-serif;

/* Colors */
$background_color: #f2f3f7;
$font_color: #333333;
$color_blue: rgb(115, 115, 214);
$color_grey: grey;

/* Wrap */
$wrap: 1200px;

/* Style */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  width: 100%;
  min-height: 100vh;
  font-family: $main_font;
  color: $font_color;
}


.nav__tab{
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: $background_color;
  text-align: center;
  .profile{
    img{
      width: 225px;
      height: 225px;
      border-radius: 100%;
    }
    h3{
      font-size: 28px;
    }
    p{
      font-size: 20px;
      font-weight: lighter;
    }
  }
  .social__links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    a{
      margin: 5px;
      padding: 5px 10px;
      i{
        font-size: 28px;
      }
    }
  }
  .links{
    height: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    a{
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}

#main{
  width: 75%;
  min-height: 100%;
  position: relative;
  top: 0;
  left: 25%;
  #home{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    .about{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 60%;
      strong{
        padding: 50px 0;
        font-size: 3rem;
      }
      p{
        padding: 35px 0;
        font-size: 2rem;
        font-family: $title_font;
      }
      a{
        margin: 20px 0;
      }
    }
    img{
      width: 40%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  #about{
    .content{
      width: 100%;
      .about__me{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        p{
          max-width: 70ch;
          text-align: center;
        }
      }
      .cards__field{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px 0;
        .card{
          width: 125px;
          height: 125px;
          border: 1px rgb(238, 238, 238) solid;
          box-shadow: 5px 5px 5px rgb(238, 238, 238);
          border-radius: 3px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          margin: 20px;
          transition: all 0.3s ease-in-out;
          i{
            font-size: 28px;
          }
          p{
            font-size: 15px;
          }
          &:hover{
            transition: all 0.3s ease-in-out;
            transform: scale(1.075);
            cursor: pointer;
          }
        }
      }
    }
  }
  #skills{
    .content{
      .progress__field{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
      }
    }
  }
}




/* Above the fold */
h1, h2, h3, h4, h5, h6, strong{
  font-family: $title_font;
}

h1, h2, h3{
  margin: 15px 0;
}

h4, h5, h6{
  margin: 10px 0;
}

.nav__tab{
  padding: 50px 10px;
}

ul{
  li{
    list-style-type: none;
  }
}

a{
  text-decoration: none;
  color: $font_color;
}

a.anim{
  position: relative;
  padding-bottom: 5px;
  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px $color_blue solid;
    transition: all 0.5s ease;
    width: 0;
  }
  &:hover{
    color: $color_blue;
    &::before{
      transition: all 0.5s ease;
      width: 100%;
    }
  }
}

.wrap{
  max-width: $wrap;
  section{
    padding: 50px 25px;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    .content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      min-height: 80vh;
    }
  }
  #home{
    flex-direction: row;
  }
}

a.btn{
  padding: 6px 15px;
  border-radius: 4px;
  border: 1px $font_color solid;
  transition: all 0.4s ease;
  &:hover{
    transition: all 0.4s ease;
    background-color: $font_color;
    color: #fff;
  }
}

.title__div{
  h6{
    font-size: 12px;
    font-family: $main_font;
    color: $color_grey;
  }
  h2{
    font-size: 28px;
  }
  h6, h2{
    text-transform: uppercase;
  }
}